<div class="row">
    {{#each projects as |project|}}
    <div class="col-xl-3 col-lg-6 col-sm-12 mb-4">
        {{>projects/projectcard project=project }}
    </div>
    {{else}}
    <div class="image-container d-flex m-auto">
        <img src="https://res.cloudinary.com/difhe4gl3/image/upload/v1597784612/assets/undraw_Notify_re_65on_sa0za1.png"
            class="img-fluid py-5 mx-auto login-svg" alt="girl in a laptop">
        <p class="m-auto">
            No projects matching search: <i>{{search}}</i>.<br /><br />

        </p>
        <a href="/projects" class="m-auto btn button-2 mt-5">All projects</a>
    </div>

    {{/each}}
</div>