<article class="container">
  <div class="image-container">
    <img src="https://res.cloudinary.com/difhe4gl3/image/upload/v1597785309/assets/undraw_project_completed_w0oq_vkqvmu.png"
        class="img-fluid py-5 mx-auto login-svg" alt="girl in a laptop">
    <p class="text-center">Fill the form to create a new project. </p>
</div>
  <h1 class="text-center">New project</h1>

  {{> projects/form }}
</article>